<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dwebss.fitDiary.dao.FoodMapper">
  <resultMap id="BaseResultMap" type="kr.co.dwebss.fitDiary.model.Food">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="FOOD_ID" jdbcType="INTEGER" property="foodId" />
    <result column="FOOD_TYPE" jdbcType="INTEGER" property="foodType" />
    <result column="FOOD_NM" jdbcType="VARCHAR" property="foodNm" />
    <result column="SERVING_SIZE" jdbcType="TIMESTAMP" property="servingSize" />
    <result column="KILOCALORIE" jdbcType="DECIMAL" property="kilocalorie" />
    <result column="CARBOHYDRATE" jdbcType="DECIMAL" property="carbohydrate" />
    <result column="PROTEIN" jdbcType="DECIMAL" property="protein" />
    <result column="FAT" jdbcType="DECIMAL" property="fat" />
    <result column="SUGAR" jdbcType="DECIMAL" property="sugar" />
    <result column="SODIUM" jdbcType="DECIMAL" property="sodium" />
    <result column="CHOLESTEROL" jdbcType="DECIMAL" property="cholesterol" />
    <result column="SATURATED_FATTY_ACID" jdbcType="DECIMAL" property="saturatedFattyAcid" />
    <result column="TRANS_FATTY_ACIDS" jdbcType="DECIMAL" property="transFattyAcids" />
  </resultMap>
</mapper>